*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.xml
*.gz
*.toc

.aux/
.vscode/
class/
exam/winter-2022
exam/winter-2023
literature/*.pdf
stuff/

common_header.log

*_exam_*.log
*_exam_*.out
*_exam_*.pdf
*_exam_*_solution.tex

slides/*.log
slides/*.nav
slides/*.out
slides/*.pdf
slides/*.snm

week_*.log
week_*.out
week_*.pdf
week_*_solution.tex